<!DOCTYPE html>

<html lang="en-US">

<head>
  <title>FS</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  {{range .}}
  {{if .IsDir}}
  <a href="{{.Name}}/">{{.Name}}/</a> |
  <a href="{{.Name}}/?download=1&tar=1">Download Tar</a> |
  <a href="{{.Name}}/?download=1&zip=1">Download Zip</a>
  {{else}}
  <a href="{{.Name}}">{{.Name}}</a> | <a href="{{.Name}}?download=1">Download</a>
  {{end}}
  <hr>
  {{end}}
</body>

</html>
